[Desktop Entry]
Type=Application
Version=1.0
Name=Polychromatic Autostart
Comment=Automatically start Polychromatic components at login
Icon=polychromatic
Exec=$EXEC_PATH --autostart
Encoding=UTF-8
Terminal=false
Categories=
