[Desktop Entry]
Name=Ulauncher
Comment=Application launcher for Linux
GenericName=Launcher
Categories=GNOME;GTK;Utility;
TryExec=$EXEC_PATH
Exec=env GDK_BACKEND=x11 $EXEC_PATH --hide-window --hide-window && $EXEC_PATH-toggle
Icon=ulauncher
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
RunHook=0
